/*
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

ul.rrssb-buttons {
	visibility:visible;
	margin:0 !important;
	padding:0 !important;
	list-style:none;
}
ul.rrssb-buttons a {
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
ul.rrssb-buttons a:hover {
	box-shadow:none;
	-webkit-box-shadow:none;
}
ul.rrssb-buttons li,
.content ul.rrssb-buttons li,
.list-data ul.rrssb-buttons li {
	position:relative;
	font-size:inherit !important;
	line-height:inherit !important;
	list-style-type:none;
	list-style-image:none;
	margin:0;
	padding:0 2px !important;
}
ul.rrssb-buttons li:before,
.content ul.rrssb-buttons li:before,
.list-data ul.rrssb-buttons li:before {
	content:none !important;
}
.rrssb-icon {
}
.rrssb-text {
	white-space:nowrap;
}
