/*
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

.wpsso-rrssb-content {
	clear:both;
	margin:20px auto;
	max-width:100vw;
	overflow:hidden;
}
