/**
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

.wpsso-rrssb-bp_activity {
	margin:15px auto 10px auto;
}

.wpsso-rrssb-bp_activity ul.rrssb-buttons > li span.rrssb-icon {
	width:1em;
	height:1em;
	margin:0.2em 0;
}

.wpsso-rrssb-bp_activity ul.rrssb-buttons > li span.rrssb-text {
	font-size:0.8em;
}

#buddypress ul.activity-list .wpsso-rrssb-bp_activity ul.rrssb-buttons > li {
	border:none;
}
