/*
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

.wpsso-rrssb-admin_edit {
	padding:10px;
	background-color:#f9f9f9;	/* Match the SSO metabox background. */
	border-top:1px solid #ccc;
}

.wpsso-rrssb-admin_edit div.rrssb-buttons-cta {
	display:none;
}
