/*
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

ul.rrssb-buttons {
	visibility:visible;
	margin:0 !important;
	padding:0 !important;
	list-style:none;
}
ul.rrssb-buttons a {
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
ul.rrssb-buttons a:hover {
	box-shadow:none;
	-webkit-box-shadow:none;
}
ul.rrssb-buttons li {
	list-style-type:none;
}
.rrssb-icon {
}
.rrssb-text {
	white-space:nowrap;
}
