/*
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

#wpsso-rrssb-sidebar div.rrssb-buttons-cta {
	display:none;
}

#wpsso-rrssb-sidebar {
	display:block;
	cursor:pointer;
	position:fixed;
	z-index:99;
	top:50%;
	left:0;
	transform:translateY(-50%);
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	overflow:hidden;
}

#wpsso-rrssb-sidebar ul.rrssb-buttons {
	width:42px;
	height:42px;
	margin:0;
	padding:0;
}

#wpsso-rrssb-sidebar ul.rrssb-buttons::before,
#wpsso-rrssb-sidebar ul.rrssb-buttons::after {
	display:none;
}

#wpsso-rrssb-sidebar ul.rrssb-buttons li a {
	border-radius:0;
}

#wpsso-rrssb-sidebar ul.rrssb-buttons li {
	height:42px;
	padding:0;
}

#wpsso-rrssb-sidebar ul.rrssb-buttons li a .rrssb-icon svg {
	height:50%;
	top:0;
	margin:25% auto;
}

@media screen and (max-width:1200px) {

	#wpsso-rrssb-sidebar ul.rrssb-buttons {
		width:36px;
		height:36px;
	}

	#wpsso-rrssb-sidebar ul.rrssb-buttons li {
		height:36px;
	}
}
