/**
 * Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be
 * necessary to customize the layout for your website.
 */

#_wpsso_rrssb_admin_edit .inside {
	padding:10px 12px;
}

#_wpsso_rrssb_admin_edit .inside table.sucom-settings {
	border-spacing:0;
}

#_wpsso_rrssb_admin_edit .inside table.sucom-settings ul.rrssb-buttons {
	visibility:visible;
	margin:0 !important;
	padding:0 !important;
	list-style:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#_wpsso_rrssb_admin_edit .inside table.sucom-settings ul.rrssb-buttons::before,
#_wpsso_rrssb_admin_edit .inside table.sucom-settings ul.rrssb-buttons::after {
	display:none;
}
